
  /* Contenedor general para el personaje */
.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f8ff; /* Un fondo azul claro */
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .character-container:hover {
    transform: translateY(-5px); /* Efecto hover suave */
  }
  
  .character-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
    transition: transform 0.3s ease;
  }
  
  .character-container img:hover {
    transform: scale(1.05); /* Zoom en la imagen al hacer hover */
  }
  
  .character-container h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
  }
  
  .character-container p {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Lista de episodios */
  .episode-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .episode-list li {
    background-color: #e6f7ff; /* Fondo azul claro */
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .episode-list li:hover {
    background-color: #b3e5fc; /* Cambio de color al hacer hover */
  }
  
  .episode-list li:nth-child(even) {
    background-color: #ccf2ff; /* Fondo alternativo para mejor legibilidad */
  }
  
  /* Texto de carga */
  .loading {
    font-size: 1.5rem;
    text-align: center;
    color: #888;
  }
  
  /* Estilos para móviles */
  @media (max-width: 600px) {
    .character-container {
      padding: 15px;
      max-width: 100%;
    }
  
    .character-container img {
      width: 150px;
      height: 150px;
    }
  
    .character-container h2 {
      font-size: 2rem;
    }
  
    .character-container p {
      font-size: 1.2rem;
    }
  
    .episode-list li {
      font-size: 1rem;
      padding: 10px;
    }
  }
  